# Server Settings
HOST=0.0.0.0
PORT=8000
DEBUG=True

# MySQL Settings
MYSQL_USER=ocr_user
MYSQL_PASSWORD=psps0101!A
MYSQL_HOST=localhost
MYSQL_PORT=3309
MYSQL_DB=ocr_db

# OCR Settings
OCR_LANGUAGE=korean
USE_GPU=False
DEFAULT_DPI=300
